{% extends 'base.html.twig' %}

{% block body %}

<br><h1  style="text-align: center">INSCRIPTION !!</h1><br>

{{ form_start (form)}}

  
  {{ form_row (form.email, {'label': 'email'}) }}

  {{ form_row (form.password, {'label': 'password'}) }}

  {{ form_row (form.nom, {'label':'nom'}) }}

  {{ form_row (form.prenom, {'label':'prenom'}) }}

  {{ form_row (form.dateNaiss, {'label':'date de naissance'} ) }}

  {{ form_row (form.roles, {'label':'roles'}) }}


  {{ form_rest(form) }}
  <br><button class= 'btn btn-success' type="submit">Enregistrer</button>
{{ form_end (form)}}

{% endblock %}