{% extends 'base.html.twig' %}


{% block body %}

</br>
<h3>Titre: {{ article.title }} n°{{ article.id }}</h3> </br></br>
<div class="row">
    <div class="col-6">
        <img src="https://img-19.commentcamarche.net/WNCe54PoGxObY8PCXUxMGQ0Gwss=/480x270/smart/d8c10e7fd21a485c909a5b4c5d99e611/ccmcms-commentcamarche/20456790.jpg" alt="">
    </div>
    <div class="col">
        <p>Description: {{ article.content | raw}}</p> </br>
    </div>
    
        <p>Categorie: {{ article.category.title}} </p>
    
    
        <p>Créer le: {{ article.date | date("d/m/Y")}}</p>
    </div>
        {% if article.category.id == 4 %}
            <a href="{{ path('cat1') }}" class="btn btn-success">Retour</a>
        {% elseif article.category.id == 5 %}
            <a href="{{ path('cat2') }}" class="btn btn-success">Retour</a>
        {% elseif article.category.id == 6 %}
            <a href="{{ path('cat3') }}" class="btn btn-success">Retour</a>
        {% endif %}

        <a href="{{ path('form_edit', {'id' : article.id} ) }}" class="btn btn-success">Modifier</a>

        <form method="post" action="{{ path('article_delete', {'id': article.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
            <button class="btn btn-success">Delete</button>
        </form>

    </div> 
</div>

{% endblock %}