{% extends 'base.html.twig' %}


{% block body %}

<h1>Tema les Articles de : {{ nom.title }} </h1>


{% for article in articles %}
    </br>
    <h3>Titre: {{ article.title }} n°{{ article.id }}</h3>
    <img src="https://picsum.photos/640/360" alt="">
    <p>Description: {{ article.content | raw}}</p> </br>
    <div class="row">
        <div class="col-3">
            <p>Categorie: {{ article.category.title}} </p>
        </div>
        <div class="col">
            <p>Créer le: {{ article.date | date("d/m/Y")}}</p>
        </div>
        <div class="col">
            <a href="{{ path('show', {'id' : article.id} ) }}" class="btn btn-success">Selectionner</a>
        </div> 
        
    </div>

{% endfor %}

{% endblock %}